<div class="container search-form">
    <a href="{{baseUrl}}/article/create" class="button is-primary">New</a>
</div>
<div class="container search-form">
<form action="{{baseUrl}}/article" method="get">
    <div class="field">
      <label class="label">Search</label>
      <div class="control">
        <input class="input" type="text" name="keyword" placeholder="Search article">
      </div>
      <p class="help">You can also use title:keyword or author:keyword. Try <a href="{{baseUrl}}/article?keyword=author:yusup">author:yusup</a></p>
    </div>
</form>
</div>
